:root {
--azul-escuro: #392d69ff;
--roxo-escuro: #4e3a7fff;
--ultra-violeta: #624795ff;
--roxo: #5a189aff;
}
body{
    background-color: var(--roxo);
display:flex;
align-items:center;
justify-content:center;
font-size: 22px;
margin: 0;
padding: 0;
}

main{
margin: 20px 0;
text-align: center;
max-width: 50;
}


button{
background-color: var(rgb(224, 127, 224));
font-size: 23px;
padding: 4px;
border-radius: 10px;
margin: 5px;
color:black;
box-shadow: 2px 2px 5px black

}
button 